<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pagina detalle del libro</title>
    </head>
    <body>
        <h1>Página detalle del libro</h1>
        <h2>{{titulo}}</h2>
        <img src="{{imagen}}"></img>
        <h3>Número de páginas:</h3>
        <p>{{i.numpaginas}}</p>
        <h3>Descripción corta:</h3>
        <p>{{i.descripcioncorta}}</p>
        <h3>Descripción larga:</h3>
        <p>{{i.descripcionlarga}}</p>
        <h3>Autores:</h3>
        <p>
            {% for a in autores -%}
                <li>{{i.a}}</li>
            {% endfor -%}
        </p>
        <h3>Categorías:</h3>
        <p>
            {% for c in categorias -%}
                <li>{{i.c}}</li>
            {% endfor -%}
        </p>
        <a href="/">Página principal</a>
    </body>
</html>