<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pagina detalle del libro</title>
    </head>
    <body>
        <h1>Página detalle del libro</h1>
        <h2>{{i.title}}</h2>
        <img src={{i.thumbnailUrl}}></img>
        <h3>Número de páginas:</h3>
        <p>{{i.pageCount}}</p>
        <h3>Descripción corta:</h3>
        <p>{{i.shortDescription}}</p>
        <h3>Descripción larga:</h3>
        <p>{{i.longDescription}}</p>
        <h3>Autores:</h3>
        <ul>
            {% for a in i.authors -%}
                <li>{{a}}</li>
            {% endfor -%}
        </ul>
        <h3>Categorías:</h3>
        <ul>
            {% for c in i.categories -%}
                <li>{{c}}</li>
            {% endfor -%}
        </ul>
        {%if i.status=="MEAP"%}-
        <p>ESTE LIBRO NO SE HA PUBLICADO</p>
        {% endif %}
        <a href="/">Página principal</a>
    </body>
</html>