<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pagina detalle del libro</title>
    </head>
    <body>
        <h1>Página detalle del libro</h1>
        <h2>Mostramos el elemento 0 de la lista (titulo)</h2>
        <p>Mostramos el elemento 4 de la lista (thumbnailUrl)</p>
        <h3>Número de páginas:</h3>
        <p>Mostramos el elemento 2 de la lista (pageCount)</p>
        <h3>Descripción:</h3>
        <p>Mostramos el elemento 5 de la lista (shortDescription)</p>
        <h3>Autores:</h3>
        <p>Mostramos el elemento 8 de la lista (authors)</p>
        <h3>Categorías:</h3>
        <p>Mostramos el elemento 9 de la lista (categories)</p>
        <a href="/">Página principal</a>
    </body>
</html>